<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Duchatelet & Boubkouk</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Shopping Duchatelet & Boubkouk Store</div>
<img src="https://image.noelshack.com/fichiers/2021/35/4/1630574698-photo-1505075106905-fb052892c116.jpg" height="1050px" width="700px" />
<th:block th:include="/_footer"></th:block>

</body>