<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Duchatelet & Boubkouk</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Shopping Duchatelet & Boubkouk Store</div>
<img src="https://bottleshops.online/storage/shop_logos/124/shop124_21ce92.png" height="100px" width="200px" />
<th:block th:include="/_footer"></th:block>

</body>