<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart Confirmation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Confirmation</div>
<div class="customer-info-container">
    <h3>Customer Information:</h3>
    <ul>
        <li>Nom: <span th:utext="${myCart.customerInfo.name}"></span></li>
        <li>Email: <span th:utext="${myCart.customerInfo.email}"></span></li>
        <li>Telephone: <span th:utext="${myCart.customerInfo.phone}"></span></li>
        <li>Adresse: <span th:utext="${myCart.customerInfo.address}"></span></li>
    </ul>
    <h3>Sous-total:</h3>
    <ul>
        <li>Quantité: <span th:utext="${myCart.quantityTotal}"></span></li>
        <li>Total:
            <span class="total"
                  th:utext="${#numbers.formatDecimal(myCart.amountTotal,2,2,'COMMA')}">
               </span>
        </li>
    </ul>
</div>
<form method="POST" th:action="@{/shoppingCartConfirmation}">
    <!-- Edit Cart -->
    <a class="navi-item" th:href="@{/shoppingCart}">
        Modifier panier
    </a>
    <!-- Edit Customer Info -->
    <a class="navi-item" th:href="@{/shoppingCartCustomer}">
        Modifier information
    </a>
    <!-- Send/Save -->
    <input type="submit" value="Send" class="button-send-sc" />
</form>
<div class="container">
    <div class="product-preview-container" th:each="cartLineInfo : ${myCart.cartLines}">
        <ul>
            <li>
                <img class="product-image"
                     src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
            </li>
            <li>
                Code: <span th:utext="${cartLineInfo.productInfo.code}"></span>
                <input
                        type="hidden" name="code" th:value="${cartLineInfo.productInfo.code}" />
            </li>
            <li>Nom: <span th:utext="${cartLineInfo.productInfo.name}"></span></li>
            <li>Prix:
                <span class="price"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2,'COMMA')}">
                  </span> €
            </li>
            <li>Quantité: <span th:utext="${cartLineInfo.quantity}"></span></li>
            <li>Sous-total:
                <span class="subtotal"
                      th:utext="${#numbers.formatDecimal(cartLineInfo.amount,2,2,'COMMA')}">
                  </span> €
            </li>
        </ul>
    </div>
</div>

<th:block th:include="/_footer"></th:block>

</body>
</html>